.item {
    align-items: center;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
  
  .disabled-page {
    color: #808e9b;
  }
  
  .active {
    border: solid 1px #808e9b;
    border-radius: 40px;
    color: #808e9b;
  }
  
  .break-me {
  }
  
  .next {
    border-left: solid 1px #808e9b;
    font-size: 4px;
    height: 60px;
    position: absolute;
    right: 0;
    width: 150px;
  }
  
  .pagination {
     align-items: center;
     margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 60px;
    list-style-type: none;
    position: relative;
    width: 80%; 
    background-color: rgb(1, 1, 34);
	color: white;
	padding: 10px;
	border-radius: 8px;

  }
  
  .pagination-page {
    font-weight: 700;
  }
  
  .previous {
    border-right: solid 1px #808e9b;
    font-size: 4px;
    height: 60px;
    left: 0;
    position: absolute;
    width: 150px;

   

  }
  .nex-link{
    color: white;
    font-size: 2rem;
  }
  .previous-link{
    color: white;
    font-size: 2rem;

  }


  .list-users {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.list-users .info {
	display: flex;
  margin-top: 20px;
	align-items: center;
	justify-content: space-between;

}

.list-users .info p {
	color:  #2752db;
}
.list-users .info h2 {
	color:  #2752db;
}


.list-users h2 {
	color: #05224b;
	font-size: 25px;
}

.list-item {
	padding: 10px;
	background-color: #ddd;
	margin: 20px auto;
  
	


}
.list-item .repo-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom:2px  #05224b00;
}
.repo-bottom {
  border-color: 2px #05224b;
}

.list-users .pagination-wrapper {
	margin-top: 25px;
}
